{
  "github_token": "ghp_YOUR_GITHUB_TOKEN_HERE",
  "github_username": "giobi",
  "backup_dir": "./backup",
  "telegram_bot_token": "",
  "telegram_chat_id": "",
  "log_file": "./logs/gitbackup.log"
}
